@using weddingPlanner.Models
@model NewWedding

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>New Wedding</title>
    </head>
    <body>
        <h1>Plan Your Wedding</h1>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>

        <form asp-action="Create" asp-controller="Home" method="POST">

            <span asp-validation-for="NewlyWeds.WedderOne"></span>
            <label asp-for="NewlyWeds.WedderOne">Wedder One</label>
            <input asp-for="NewlyWeds.WedderOne">

            <span asp-validation-for="NewlyWeds.WedderTwo"></span>
            <label asp-for="NewlyWeds.WedderTwo">Wedder Two</label>
            <input asp-for="NewlyWeds.WedderTwo">

            <span asp-validation-for="NewlyWeds.WeddingDate"></span>
            <label asp-for="NewlyWeds.WeddingDate">Date</label>
            <input type="date" asp-for="NewlyWeds.WeddingDate">

            <span asp-validation-for="NewlyWeds.Location"></span>
            <label asp-for="NewlyWeds.Location">Wedding Address</label>
            <input asp-for="NewlyWeds.Location">

            <input type="submit" value="Create">

        </form>

    </body>
</html>